<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon List</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Pokemon List</h1>

  <div id="pagination">
    <% if (page > 1) { %>
      <a href="/?page=1">First</a> <!-- Always show link to first page -->
    <% } %>

    <% if (page > 2) { %>
      <a href="/?page=<%= parseInt(page) - 2 %>"><%= parseInt(page) - 2 %></a>
    <% } %>

    <% if (page > 1) { %>
      <a href="/?page=<%= parseInt(page) - 1 %>"><%= parseInt(page) - 1 %></a>
    <% } %>

    <span>Page <%= page %></span>

    <% if (page < totalPages - 1) { %>
      <a href="/?page=<%= parseInt(page) + 1 %>"><%= parseInt(page) + 1 %></a>
    <% } %>

    <% if (page < totalPages - 2) { %>
      <a href="/?page=<%= parseInt(page) + 2 %>"><%= parseInt(page) + 2 %></a>
    <% } %>

    <% if (page < totalPages) { %>
      <a href="/?page=<%= totalPages %>">Last</a> <!-- Always show link to last page -->
    <% } %>
  </div>

  <ul id="pokemonList">
    <% pokemonList.forEach(pokemon => { %>
      <li><%= pokemon.name %></li>
    <% }); %>
  </ul>

  <script src="/script.js"></script>
</body>
</html>
